.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    text-align: center;
    color: #121212;
}
.imageDiv{
    display: flex;
}
img {
    width: 380px;
    border: 3px solid #121212;
    margin: auto;
}
p {
    text-align: center;
    color: #121212;
    font-style: italic
}
.btns{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#emailEntry {
    width: 200px;
    margin:2px 100px;
    text-align: center;
    border: 3px solid #121212;
}
#submissionBtn{
    width: 210px;
    margin:2px 100px;
    text-align: center;
    border: 3px solid #121212;
    background-color: #121212;
    color: whitesmoke;
    font-weight: bold;
}
h6{
    text-align: center;
    color: #121212;
    font-style: italic;
}
